APP_ENV=prod
APP_DEBUG=0

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

SITE_URL=
VTIGER_SSL=false
ROOT_DIRECTORY=

BACKEND_URL=
BACKEND_TOKEN=

SENTRY_DSN=
SENTRY_TRACE_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0

RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=